<!-- <div class="calculadoraBotoesNum"> -->
 <!-- <div class="calculadoraStyle">
    <button class="botaoCalc botao1">1</button>
    <button class="botaoCalc botao2">2</button>
    <button class="botaoCalc botao3">3</button>
    <button class="botaoCalc botao4">4</button>
    <button class="botaoCalc botao5">5</button>
    <button class="botaoCalc botao6">6</button>
    <button class="botaoCalc botao7">7</button>
    <button class="botaoCalc botao8">8</button>
    <button class="botaoCalc botao9">9</button>
</div> -->
<!-- </div> -->

<button class="botaoCalc" [style.width]="largura" [style.height]="altura">{{conteudo}}</button>