<div class="calculadoraDiv">
    <div class="calculadoraStyle">
        <div class="calculadoraResposta">{{resultado}}</div>

        <app-botoes class="botaoCalc botao0"
        largura = '70px'
         altura = '70px'
         conteudo = '0'
         (click) = 'clickBtn0()'
        ></app-botoes>

        <app-botoes class="botaoCalc botao1"
        largura = '70px'
         altura = '70px'
         conteudo = '1'
         (click) = 'clickBtn1()'
        ></app-botoes>

        <app-botoes class="botaoCalc botao2"
        largura = '70px'
         altura = '70px'
         conteudo = '2'
         (click) = 'clickBtn2()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao3"
        largura = '70px'
         altura = '70px'
         conteudo = '3'
         (click) = 'clickBtn3()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao4"
        largura = '70px'
         altura = '70px'
         conteudo = '4'
         (click) = 'clickBtn4()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao5"
        largura = '70px'
         altura = '70px'
         conteudo = '5'
         (click) = 'clickBtn5()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao6"
        largura = '70px'
         altura = '70px'
         conteudo = '6'
         (click) = 'clickBtn6()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao7"
        largura = '70px'
         altura = '70px'
         conteudo = '7'
         (click) = 'clickBtn7()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao8"
        largura = '70px'
         altura = '70px'
         conteudo = '8'
         (click) = 'clickBtn8()'
         ></app-botoes>

        <app-botoes class="botaoCalc botao9"
        largura = '70px'
         altura = '70px'
         conteudo = '9'
         (click) = 'clickBtn9()'
         ></app-botoes>

         <app-botoes class="botaoCalc botaoIgual"
        largura = '70px'
         altura = '70px'
         conteudo = '='
         (click) = 'clickBtnIgual()'
         ></app-botoes>

         <app-botoes class="botaoCalc botaoAdicao"
        largura = '70px'
         altura = '70px'
         conteudo = '+'
         (click) = 'clickBtnAdicao()'
         ></app-botoes>

         <app-botoes class="botaoCalc botaoSubtracao"
        largura = '70px'
         altura = '70px'
         conteudo = '-'
         (click) = 'clickBtnSubtracao()'
         ></app-botoes>

         <app-botoes class="botaoCalc botaoDivisao"
        largura = '70px'
         altura = '70px'
         conteudo = '/'
         (click) = 'clickBtnDivisao()'
         ></app-botoes>

         <app-botoes class="botaoCalc botaoMultiplicacao"
        largura = '70px'
         altura = '70px'
         conteudo = 'X'
         (click) = 'clickBtnMultiplicacao()'
         ></app-botoes>

         <app-botoes class="botaoCalc botaoCE"
        largura = '70px'
         altura = '70px'
         conteudo = 'CE'
         (click) = 'clickBtnApagar()'
         ></app-botoes>
    </div>
</div>